@import url('https://fonts.googleapis.com/css2?&family=Nunito:wght@500;900&display=swap');

body {
    background-image: url('https://media.giphy.com/media/3ohs4oJF5ezJlBvYn6/giphy.gif');
    background-size: 100vw 100vh;
    /* overflow: hidden; */

    font-family: 'Nunito', sans-serif!important;
}

.content_wrapper {
    width: 100%;
    min-height: 90vh;
    color: #f5f5f5;
    background: #1f1f1f;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px #3168ff;
    padding: 30px;

    margin: 0px;
}

.app_logo {
    width: 100px;
    margin: 40px auto;
}

.title {
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
}

.action_button {
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 15px;
    border: none;

    position: relative;
    box-shadow: 0px 10px #3168ff;
}

.feel_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.gif_holder {
    border-radius: 10px;
}

.feel_button {
    width:30%;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 10px #3168ff;
}

.status_users {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.song_div {
    display: flex;
    width: 98%;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #292929;
    text-decoration: none!important;
}

a {
    text-decoration: none;
}

.song_first_row {
    color: white;
    font-size: 20px;
}

.feel_stats {
    width:48%;
    height: 100px;
    margin: 5px auto;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    padding: 15px 2px;
}

.list_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.list_button {
    width:70%;
    margin: 4px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;

    color: white;
    background-color: #444444;
}

.list_index {
    color: #3168ff;
    background: rgb(226, 226, 226);
    padding: 4px 9px;
    border-radius: 7px;
    margin-right: 15px;
}


.list_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}
.guess-input {
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
}

.spotify_link_input {
    width: 90%;
    min-width: 200px;
}

.guess-input::placeholder {
    color: rgba(255,255,255,0.3);
}

.floating_footer {
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 10px 30px;
    width: 280px;
    border-radius: 50px;
    white-space: nowrap;
    margin: 5px auto;
}

.fa-heart {
    color: rgb(255, 87, 58);
    margin: 4px;
}


  /*------- Scrollbar --------------*/
  body::-webkit-scrollbar {
    width: 0.6rem!important;
  }
  
  body::-webkit-scrollbar-track {
    background: #fffcf900;
    opacity: 0;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #407cff!important;
    border-radius: 50px;
  }

  #intro_panel, #result_container {
      transition: all 0.3s ease;
      animation: slideUp 0.3s;
  }

  @keyframes slideUp {
      0% {
          position: relative;
          top: 10px;
      }
      100% {
          position: relative;
          top: 0px;
      }
  }
