@import url('https://fonts.googleapis.com/css2?&family=Nunito:wght@500;900&display=swap');

body {
    background: white;
    /* overflow: hidden; */

    font-family: 'Nunito', sans-serif!important;
}

.content_card {
    width: 100%;
    height: 90vh;
    background: #3168ff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 20px #10255f;
    padding: 30px;

    margin: 40px;
}

.app_logo {
    width: 100px;
    margin: 40px auto;
}

.title {
    font-weight: 900;
    font-size: 50px;
    line-height: 40px;
}

.action_button {
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 15px;
    border: none;

    position: relative;
    box-shadow: 0px 10px #10255f;
}

.feel_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.feel_button {
    width:30%;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 10px #10255f;
}


.list_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.list_button {
    width:70%;
    margin: 4px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;

    color: white;
    background-color: #112d7a;
}

.list_index {
    color: blue;
    background: white;
    padding: 4px 8px;
    border-radius: 7px;
    margin-right: 15px;
}



  /*------- Scrollbar --------------*/
  body::-webkit-scrollbar {
    width: 0.6rem!important;
  }
  
  body::-webkit-scrollbar-track {
    background: #fffcf9;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #9e9e9e!important;
    border-radius: 50px;
  }

  #intro_panel, #result_container {
      transition: all 0.3s ease;
      animation: slideUp 0.3s;
  }

  @keyframes slideUp {
      0% {
          position: relative;
          top: 10px;
      }
      100% {
          position: relative;
          top: 0px;
      }
  }
